/* Defines colours*/
:root {
    cursor: "images/cursor.png", auto;
    --white: #FFFFFF;
    --black: #010101;
    --purple: #47398e;
    --darkBlue: #485da5;
    --lightBlue: #568ab4;
    --green: #a1baae;
    --orange: #de5e5b;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
    
    scroll-behavior: smooth;
}
  
footer {
    /* text-align: left;*/
    height: 150px;

    padding-top: 5px;
    padding-left: 25px;
    background-color: var(--darkBlue);
}

/* Text and paragraph styles */
h2 {
    font-family: 'Futura','Trebuchet MS','Arial',sans-serif; 
    font-weight: normal;
    color: var(--black);
    font-size: 40px;
    
}

h3 {
    font-family: 'Futura','Trebuchet MS','Arial',sans-serif; 
    font-weight: normal;
    color: var(--black); 
    
    font-size: 32px;
}

p {
    font-family: 'Futura','Trebuchet MS','Arial',sans-serif; 
    font-weight: thin;
    
    background: -webkit-linear-gradient(180deg, white 0%,white 10%,white 80%,Black 50%);
    -webkit-background-clip: text, border; 
    color: transparent;
    

    
    font-size: 18px;
    
}

 /* Class styles */
 .title {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    color: var(--black);
    font-size: 130px;
    margin-top: -26px;
    margin-left: -6px;
    margin-bottom: -40px;
 }

 .header {
    margin-bottom: 64px ;
 }
 .content {
    
}
  
.row {
    height:400px;

    margin-top:200px;
   
}
 .columnLeft {
     width:500px; 
     text-align: left; 
     float: left; 
     display: table-cell;
     padding-left: 100px;

   
 }
 .columnRight{
     width:500px;
     text-align: left; 
     float: right; 
     display: table-cell;
     padding-right: 100px;
    
 }
 
 .rectangle {
     width: 300px;
     height: 10px;
     background-color: var(--orange); 
     position: absolute;
     top: 280px;
     margin-left: 400px; 
 } 

 .script {
    position: absolute;
 }

.blueBox{
    width: 400px;
    height: 355px;
    background-color: var(--darkBlue);
    position: absolute;
    z-index: -1;
}
.StyleBox{
    width: 200px;
    height: 200px;
    background-color: var(--darkBlue);
    position: absolute;
    z-index: -1;


}

.image{
    position: absolute;
    z-index: -4;
}

::selection{
    background: var(--green);
}

.grid{
    position: absolute;
    z-index: -2;
}

  